body {
    font-style: 16px;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* HEADER*/

#header-nav {
    background-color: #fcc649;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    color: #9b1b4a;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a:hover {
    background: #E7E7E7;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

#main-content h1 {
    color: #9b1b4a;
    font-weight: 600;
}

div.content-box {
    background-color: burlywood;
    margin: 10px;
    padding: 5px 10px;
}

.row {
    margin: 20px;
}